<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+"
      codebase="https://seagrid.org/seagrid-rich-client/"
      href="$outputFile">
    <information>
        <title>SEAGrid Science Gateway</title>
        <vendor>Indiana University</vendor>
        <homepage ref="https://seagrid.org/" />
        <description kind="one-line">The Science and Engineering Grid (SEAGrid) is a tool that allows researchers to easily use scientific applications deployed across a wide range of supercomputers, campus clusters, and computing cloud. </description>
        <icon href="https://seagrid.org/jnlp/SEAGrid-icon-64x64.png" />
        <icon kind="splash" href="https://seagrid.org/jnlp/SEAGrid-icon-64x64.png" />
        <icon kind="shortcut" href="https://seagrid.org/jnlp/SEAGrid-icon-64x64.png" />
        <offline-allowed/>
    </information>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <j2se version="1.8+"/>
        $dependencies
    </resources>
    <application-desc main-class="org.seagrid.desktop.SEAGridDesktop">
    </application-desc>
</jnlp>